body {
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    text-align: center;
    width: 300px;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* полупрозрачный белый фон для формы */
    backdrop-filter: blur(5px); /* лёгкое размытие фона за контейнером */
}

h1 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #09D72F;
    outline: none;
}

button {
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 10px 20px;
    background-color: #09D72F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #27ae60;
}

.button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

a {
    display: block;
    text-align: center;
    color: #666;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}